/* put vars here, keep it to like, 3-4 colours*/
:root{
  --font-color: white;
  --backcolor: rgb(35,39,42);
  --forecolor: rgb(45,49,52);
  --highlitecolor:
}


.win-control-buttons {

}

.slider {

}

.form-pages {

}

.form-pages-headers {

}

.control-group {

}

.control-button {

}
