/* put vars here, keep it simple*/
:root{
  --font-color: white;
  --backcolor: rgb(35,39,42);
  --forecolor: rgb(45,49,52);
  --outcolor: rgb(70,78,84);
  --highlitecolor: rgb(78,93,148);

  --font-console: rgb(0,255,0);
  --radius: 3px;

  --icon: url("res/ico.gif");
}
/*---------------------------------------------------------------------------*/
/*----------setup window frame----------*/
* {margin: 0; padding: 0; border: 0; vertical-align: baseline;}
html{
  box-sizing: border-box;
}
*, *:before, *:after {box-sizing: inherit;}
html, body {
  height: 100%;
  margin: 0;
}
body{
   font-family: "Segoe UI", sans-serif;
   background-color: var(--backcolor);
   color:var(--font-color);
   border: 1px solid var(--outcolor);
   overflow-y: hidden;
}

/*---------------------------------------------------------------------------*/
/*----------setup classes here----------*/
.win-control-buttons{
  grid-row:1 /span 1;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  user-select: none;
  transition-timing-function:ease;
  transition: .2s;
}
.slider-toggle, .btn-toggle, .page-toggle, .foot-toggle, .pass-toggle{
  display: none;
}

.slider {
  color: transparent;
  float:left;
  display: flex;
  text-align: center;
  vertical-align: middle;
  border: 2px solid var(--outcolor);
  border-left: none;
  line-height: 60px;
  padding-left: 5px;
  width: 40px;
  height: 65px;
  background-color: var(--forecolor);
  user-select: none;
  transition-timing-function:ease;
  transition: .5s;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.form-pages {
  display:none;
  text-align: center;
  resize: none;
  background: var(--backcolor);
  border: 2px solid var(--outcolor);
  border-radius: 3px;
}
.form-pages-headers {
  display: block;
  width: 100%;
  background-color: var(--forecolor);
  user-select: none;
}
.control-group {
  display: flex;
  padding: 4px;
  width: 100%;
  justify-content: space-around;

}
.control-button, .control-button-togg {
  margin: 2px;
  padding: 4px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 70px;
  line-height: 56px;
  border: 2px solid var(--outcolor);
  background-color: var(--forecolor);
  user-select: none;
  border-radius: var(--radius);
  transition-timing-function:ease;
  transition: .5s;
}
.footer-label{
  vertical-align: top;
}

/*---------------------------------------------------------------------------*/
/*----------setup specific controls----------*/

/*-----setup custom titlebar-----*/
#form-titlebar{
  display: block;
  position: fixed;
  width: calc(100% - 2px);
  height: 32px;
  background-color: var(--forecolor);
  padding: 4px;
}
#form-drag-region{
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
}
#form-icon{
  width: 26px;
  content: var(--icon);
}
#form-name{
  position: fixed;
  top: 6px;
  left: 36px;
}
/*-----setup wincontrols here-----*/
#form-win-controls{
  display:grid;
  grid-template-columns: repeat(2,32px);
  position: absolute;
  top:0;
  right:0;
  height: 100%;
  -webkit-app-region: no-drag;
}
#win-btn-close{
  grid-column: 2;
}
#win-btn-minimize{
  grid-column: 1;
}

/*---------------------------------------*/
/*-----setup main form-----*/
#form-main{
  display: flex;
  height: 250px;
  margin-top: 32px;
  padding-top: 19px;
  overflow-y: auto;
}
#form-slider-group{
  display: grid;
  grid-template-rows:auto;
  width: 75px;
  height: 200px;
  align-items: center;
}

#page-history{
  width: 310px;
  height: 200px;
}
#history-box{
  font-size: 12pt;
  width: 100%;
  height: calc(100% - 22px);
  background-color: transparent;
  color: var(--font-console);
  resize:none;
  word-wrap: break-word;
  padding-top: 4px;
  padding-left: 4px;
}
#history-box::-webkit-scrollbar{
  width: 15px;
  background-color: var(--outcolor);
}
#history-box::-webkit-scrollbar-thumb{
  width: 15px;
  background-color: var(--highlitecolor);
}

/*---------------------------------------*/
/*-----setup lower form-----*/
#form-lower{
  display: inline-flex;
  width: 100%;
  height: 190px;
  justify-content: space-around;
  padding: 2px;
}
#page-general-controls, #page-audit-controls{
  width: calc(100% - 20px) !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  margin: 2px;
}

/*---------------------------------------*/
/*-----setup footer-----*/
#form-footer{
  display: none;
  padding-top: 2px;
  width: 100%;
  user-select: none;
  padding-left: 6px;
}
#footer-l-pass{
  padding-right: 8px;
}
#footer-t-pass{
  text-align: left;
  line-height: 20px;
  width: 200px;
  height: 20px;
  resize: none;
  white-space: nowrap;
  color: var(--font-console);
  background-color: var(--forecolor);
  outline: 1px solid var(--outcolor);
  overflow: auto;
  -webkit-text-security: disc;
}
#footer-clock{
  float:right;
  padding-right: 12px;
}
/*---------------------------------------------------------------------------*/
/*----------setup actions, hover/active/whatever----------*/
.win-control-buttons:hover, .control-button:hover{
background: var(--outcolor) !important;
}

.win-control-buttons:active, .control-button:active,.control-button:focus{
background: var(--highlitecolor) !important;
}
.slider:hover{
  width: 65px !important;
  background-color: var(--outcolor) !important;
  color: var(--font-color) !important;
  border-top-right-radius: var(--radius) !important;
  border-bottom-right-radius: var(--radius) !important;
}
.slider:active,.slider:focus{
  width: 70px !important;
  background-color: var(--highlitecolor) !important;
}
/*---------------------------------------------------------------------------*/
/*----------setup toggles, sliders and buttons ----------*/
.slider-toggle:checked + .slider{
  width: 70px !important;
  color: var(--font-color) !important;
  background-color: var(--highlitecolor) !important;
}
.btn-toggle:checked + .control-button{
  color: var(--font-color) !important;
  background: var(--highlitecolor) !important;
}
.page-toggle:checked + .form-pages{
  display: block;
}

.foot-toggle:checked + #form-footer{
  display:block;
}

#tog-pass:checked + #footer-t-pass{
  pointer-events: none;
}
